---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Boton from "../components/Boton.astro";
import axios from 'axios';

const table = await axios.get('http://localhost:3000/api/v1/Pacientes').then(res => res.data);

---


<Layout title="Pacientes">
    <div class="flex flex-row">
        <div id="ContenedorIzquierdo">
            <NavBar />
        </div>
        <div id="ContenedorDerecho" class="flex flex-col w-full p-3">
            <div id = "EncabezadoTabla" class="w-full h-1/9 flex mb-3">
                <div class="flex flex-1 items-center justify-left">
                    <span class="mr-8 text-3xl font-sans">Pacientes</span>
                    <div id="BarraBusqueda" class="flex items-center">
                        <input type="search" class="rounded-2xl text-sm">
                    </div>
                </div>
                <div class="flex flex-1 items-center justify-end">
                    <Boton> <slot>Exportar</slot> </Boton>
                    <Boton> <slot>Nuevo paciente</slot></Boton>
                </div>
            </div>
            <table id="default-table">
                <thead class="bg-[#234d20] text-white">
                    <tr>
                        <th>
                            <input type="checkbox" /> </th>
                        <th>{Object.keys(table[0])[1]}</th>
                        <th>{Object.keys(table[0])[2]}</th>
                        <th>{Object.keys(table[0])[3]}</th>
                        <th>{Object.keys(table[0])[4]}</th>
                        <th>{Object.keys(table[0])[11]}</th>
                        <th><span></span></th>
                    </tr>
                </thead>
            <tbody>
                {table.map((paciente) => (
                    <tr class="bg-white">
                        <td><input type="checkbox" /></td>
                        <td>{paciente.Nombre}</td>
                        <td>{paciente.Apellido}</td>
                        <td>{paciente.Telefono}</td>
                        <td>{paciente.Correo}</td>
                        <td>{paciente.Codigo}</td>
                    </tr>
                ))}
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@9.0.3"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</script>
</Layout>
